h1 {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 10vh;
}
.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
}
.article {
  background-color: burlywood;
  /* padding: 5px; */
}

/* Variant one */

/* .article:nth-child(1) {
  grid-column: 1 / -1;
  background-color: aqua;
}
.article:nth-child(2n + 2) {
  grid-column: 1 / -2;
  background-color:coral;
}
.article:nth-child(4n) {
  grid-column: 3 / -1;
  background-color:crimson;
} */

/* variant two */

/* .article:nth-child(1) {
  grid-column: 1 / -1;
  background-color: aqua;
}
.article:nth-child(2n + 2) {
  grid-column: 3 / -2;
  background-color:coral;
}
.article:nth-child(4n) {
  grid-column: 2 / -3;
  background-color:crimson;
} */

/* variant three */

/* .article:nth-child(2n + 1) {
  grid-column: 1 / 3;
  background-color: aqua;
}
.article:nth-child(3n + 2) {
  grid-column: 3 / -2;
  background-color:coral;
}
.article:nth-child(4n + 3) {
  grid-column: 1 / -2;
  background-color:crimson;
} */

/* variant four */

/* .article:nth-child(2n + 1) {
  grid-column: 3 / -3;
  background-color: aqua;
}
.article:nth-child(3n + 2) {
  grid-column: 1 / 3;
  background-color:coral;
}
.article:nth-child(4n + 3) {
  grid-column: -3 / -1;
  background-color:crimson;
} */

/* variant four */

/* .article:nth-child(1) {
  grid-column: 3 / -3;
  background-color: aqua;
}
.article:nth-child(2n) {
  grid-column: 1 / 3;
  background-color:coral;
}
.article:nth-child(3n) {
  grid-column: -3 / -1;
  background-color:crimson;
} */

/* variant five */

/* .article:nth-child(1) {
  grid-column: 1 / -3;
  background-color: aqua;
}
.article:nth-child(2n) {
  grid-column: -3 / -1;
  background-color:coral;
}
.article:nth-child(3n + 2) {
  grid-column: 1 / -3;
  background-color:crimson;
} */

/* variant five */

/* .article:nth-child(1) {
  grid-column: 1 / -1;
  background-color: aqua;
}
.article:nth-child(2n + 2) {
  grid-column: -3 / -1;
  background-color:coral;
}
.article:nth-child(3n + 2) {
  grid-column: 1 / -3;
  background-color:crimson;
} */

/* variant five */

/* .article:nth-child(1) {
  grid-column: 1 / -1;
  background-color: aqua;
}
.article:nth-child(2n + 2) {
  grid-column: -3 / -1;
  background-color:coral;
}
.article:nth-child(3n + 2) {
  grid-column: 1 / -3;
  background-color:crimson;
} */

/* variant six */

/* .article:nth-child(1) {
  grid-column: 1 / -3;
  background-color: aqua;
}
.article:nth-child(2n + 2) {
  grid-column: -3 / -1;
  background-color:coral;
}
.article:nth-child(3n + 2) {
  grid-column: 1 / -3;
  background-color:crimson;
} */

/* variant seven */

.article:nth-child(1) {
  grid-column: 2 / -2;
  background-color: aqua;
}
.article:nth-child(2n + 2) {
  grid-column: 3 / -2;
  background-color:coral;
}
.article:nth-child(3n + 2) {
  grid-column: 1 / 3;
  background-color:crimson;
}

@media (max-width: 380px) {
  .archive {
    display: flex;
    flex-direction: column;
  }

  .article {
    margin-bottom: 2em;
  }
}
